@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Football Draft</h1>
    <img src="https://fantasy.ekstraklasa.org/static/img/v3/hero3.png?v2.28" width="500" height="auto" />

</div>
