@model IEnumerable<Draft.Models.Team>

@{
    ViewData["Title"] = "Teams";
    var users = ViewData["Users"] as List<Draft.Models.User>;
}

<h1>Teams</h1>

<form asp-action="Index" method="get" class="form-inline mb-3">
    <input type="text" name="searchString" class="form-control" placeholder="Search teams by name" value="@ViewData["CurrentFilter"]" />
    <br /><button type="submit" class="btn btn-primary ml-2">Search</button>
</form>


<div class="row">
    @foreach (var team in Model)
    {
        var user = users.FirstOrDefault(u => u.TeamId == team.Id);
        <div class="col-sm-4 mb-3">
            <div class="card h-100 card-hover">
                <div class="card-body text-center">
                    <h5 class="card-title">@team.Name</h5>
                </div>
                <div class="card-footer text-center">
                    <h5>Team User: @user.Username</h5>
                    <a asp-action="DetailsTeam" asp-route-idteam="@team.Id" class="stretched-link"></a>
                </div>
            </div>
        </div>
    }
</div>


